CalculadoraWCFConsumoJava/src/META-INF/wsdl/localhost_55338/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Calcular"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="n1" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="n2" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="op" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="CalcularResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CalcularResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>